/* Start Global Rules */
/* 
    1- in start global rules we put the structure like box sizing
    and restart padding & margin.
    2- we put  scroll-behavior: smooth; in  html selector.
    3- In Selector ul we made list-style: none; for every ul Because it is repetitive
    4- We made the Container Fits all sizes 
*/

/* Start Variables */
:root {
    --min-color: white;
    --sec-color: #00c7fc;
    --the-color: #08b6e654;
    --four-color: #a2a2a2;
    --black-color: #000000;
    --ppp-color: #777;

}
/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;

    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;

    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;

    }
}


/* End Global Rules */
/* Start Component */
.special-heading {
    text-align: center;
}

.special-heading h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}
   
/* .special-heading h2::before {
    content: " ";
    display: block;
    width: 77%;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
    top: 71px;
    left: 15px;
}
.special-heading h2::after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    border: 2px solid var(--black-color);
    border-radius: 50%;
    position: absolute;
    top: 62px;
    left: 50px;
} */
.special-heading h2+p {
    color: purple;
    max-width: 528px;
    margin: 0 auto;
}


/* End Component */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* Start Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--four-color);

}

nav .logo {}

nav .links {
    display: flex;
    gap: 70px;

}

nav ul {
    display: flex;
    gap: 20px;

}

@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}

nav ul li a {
    text-decoration: none;
    color: var(--min-color);
    font-size: 17px;
    font-weight: bold;
}

nav ul li:first-child a {
    color: var(--sec-color);
    border-bottom: 1px solid var(--sec-color);
    padding-bottom: 28px;

}

nav ul li a:hover {
    color: var(--sec-color);
    border-bottom: 1px solid var(--sec-color);
    padding-bottom: 28px;
}

nav .icon-research {
    position: relative;
}

nav .icon-research i {
    position: absolute;
    right: 2%;
    font-size: 22px;
    color: var(--min-color);
}

nav .icon-research i::after {
    content: " ";
    display: block;
    position: absolute;
    width: 1.4px;
    height: 33px;
    background-color: var(--min-color);
    top: -6px;
    right: 37px;
}

/* Start Menu burger */
.menu-burger {
    display: flex;
    width: 20px;
    flex-wrap: wrap;
    display: none;

}

.menu-burger::after {
    content: " ";

}

@media (max-width: 767px) {
    .menu-burger {
        display: flex;
        padding-top: 2px;
    }

    nav ul {
        display: flex;
        gap: 20px;
        position: absolute;
        flex-direction: column;
        width: calc(100% - 30px);
        left: 0;
        right: 0;
        top: 81px;
        background-color: #00fff136;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 15px;
        margin-right: 15px;
        transition: 0.3;
        display: none;
    }

    .links:hover ul {
        display: flex;
    }

    /* .links ul   */
    nav ul li a {
        text-decoration: none;
        color: var(--min-color);
        padding: 10px;
        font-size: 14px;
        display: block;
    }

    nav ul li:first-child a {
        color: var(--sec-color);
        border-bottom: 1px solid var(--sec-color);
        padding-bottom: 15px;

    }

    nav ul li a:hover {
        color: var(--sec-color);
        border-bottom: 1px solid var(--sec-color);
        padding: 10px;
    }

}

/* .menu-burger::after {
    position: absolute;
    top: 50px;
    background-color: blue;
    width: 100%;
    height: 40px;
    top: 80px;
    left: 0;
    
} */

.menu-burger span {
    background-color: var(--min-color);
    height: 3px;
    margin-bottom: 5px;
    width: 100%;

}

/* End Menu burger */
/* End Navbar */
/* Start text-main */
.text-main {
    position: relative;
    top: 70px;
    width: calc(80% - 30px);
    background-color: rgb(15 116 143 / 70%);
    color: var(--min-color);
    padding: 40px;
}

@media (max-width: 767px) {
    .text-main {
        width: calc(90%);
    }
}

@media (max-width: 367px) {
    .text-main {
        padding: 40px 40px 0 0px;
        margin-bottom: 10px;
        overflow: hidden;
        top: 40px;
    }

    .text-main h3+p {
        line-height: 1.6;
        font-size: 14px;
    }
}

.text-main span {
    color: yellow;
}

.text-main h3 {
    line-height: 1.7;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0px;
    padding-bottom: 19px;
}

.text-main h3+p {
    line-height: 1.6;
}

/* End text-main */
/* Start Circles */
.circles {

    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 220px;
    text-align: center;

}

.circles span {
    border: 1.5px solid var(--min-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
}

@media (max-width: 992px) {
    .circles {
        top: 190px;
    }
}

@media (max-width: 611px) {
    .circles {
        top: 165px;
    }
}

@media (max-width: 511px) {
    .circles {
        top: 140px;
    }
}

@media (max-width: 475px) {
    .circles {
        display: none;
    }
}

.circles span:nth-child(2) {
    background-color: var(--sec-color);
}

/* End Circles */
/* End Landing */
/* Start Services */
.services {

    background-color: var(--min-color);
}

.services .Haz-Services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 77px;
}

/* Small */
@media (max-width: 768px) {
    .services .Haz-Services .colm .serv {
        display: flex;
        gap: 20px;
        margin-bottom: 70px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services .Haz-Services .colm .serv .info-serv-text {
        text-align: center;
    }

}

/* Medium */
@media (max-width: 992px) {
    .services .Haz-Services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 77px;
    }
}

.services .Haz-Services .colm .serv {
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
}

.services .Haz-Services .colm .serv i {
    font-size: 56px;
}

.services .Haz-Services .colm .serv .info-serv-text {}

.services .Haz-Services .colm .serv .info-serv-text h3 {
    color: var(--sec-color);
    margin-bottom: 16px;
}

.services .Haz-Services .colm .serv .info-serv-text p {
    line-height: 2;
}

/* End Services */
/* Start skills */
.skills {
    background-image: url(../images/design-features.jpg);
    height: fit-content;
    background-size: cover;
    height: 80vh;
    position: relative;

}

/* .skills .image {
    position: relative;
    /* top: 161px; */
/*  bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);/*
} */


.skills .skills-i-possess {
    background: #00fff136;
    color: var(--min-color);
    position: absolute;
    top: 18%;
    padding: 36px 0;
    right: 0;
    width: 55%;

}

.skills .skills-i-possess::before {
    content: " ";
    background-image: url(/images/mobile-cut.png);
    display: none;
    width: 338px;
    height: 446px;
    position: absolute;
    left: -360px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
    box-sizing: border-box;
    display: none;
}

@media (max-width: 767px) {
    .mobile {
        display: none;

    }

    .skills .skills-i-possess {
        width: 100%;
    }
}

.skills .skills-i-possess h3 {
    margin-bottom: 40px;
    letter-spacing: 2px;
    padding-left: 60px;
}

.skills .skills-i-possess h4 {
    padding-bottom: 30px;
    padding-left: 60px;
}

.skills .skills-i-possess h4::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* End skills */
/* Start PORTFOLIO */
.portfolio {
    background-color: var(--min-color);
}

.portfolio .sections-portfolio {

}

.portfolio .sections-portfolio .info-works {
    display: flex;
    gap: 15px;
    margin: 65px auto 33px;
    justify-content: center;
}

.portfolio .sections-portfolio .info-works p {
    padding: 10px;
    font-size: 16px;
}

.portfolio .sections-portfolio .info-works p:first-child {
    background-color: var(--sec-color);
}

/* الجريد من هنــا */

.sections-portfolio .all-iamge {
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 25%));
    /*338px*/
    grid-template-rows: repeat(auto-fill, minmax(197px, 225px));
    position: relative;
    row-gap: 2px;
}

@media (max-width: 1198px) {
    .sections-portfolio .all-iamge {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(4,350px);
    }
    .sections-portfolio .all-iamge .image-data p {
        height: 90px;
    }
}

@media (max-width: 767px) {
    .sections-portfolio .all-iamge {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8,350px);
    }
}

.sections-portfolio .all-iamge .image-data {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sections-portfolio .all-iamge .image-data img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.sections-portfolio .all-iamge .image-data p {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--min-color);
    padding: 10px;
    transition: 0.3s;
    display: none;
}

.sections-portfolio .all-iamge .image-data p span {
    color: var(--sec-color);
}

.sections-portfolio .all-iamge .image-data:hover img {
    transform: scale(1.3) rotate(5deg);

}

.sections-portfolio .all-iamge .image-data:hover p {
    display: block;
    margin-top: 2px;
}

/* Start btn  */
.sections-portfolio .btn {
    display: flex;
    justify-content: center;
}
.sections-portfolio button {
    padding: 13px 19px;
    background-color: var(--sec-color);
    color: var(--min-color);
    border: 0;
    margin: 35px auto 60px;
}

/* End btn  */
/* End PORTFOLIO */
/* Start video */
.str-video {
position: relative;
}
.str-video video {
    position: relative;
    width: 100%;
    z-index: -1;

}

.str-video .info-video {
    height: 34vh;
    background-color: #0f748fb3;;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: var(--min-color);
    position: absolute;
    top: 34%;
    width: 100%;
    z-index: 8;
}
@media (max-width: 550px) {
    .str-video .info-video {
        height: 30vh;
        top: 15%;
    }
}

.str-video .info-video h2 {
    margin: 25px auto 15px ;
    font-weight: 100;
}
.str-video .info-video p {
    margin: 15px auto;
}

.str-video .info-video button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: black;
    color: var(--min-color);
    border: 0;
    z-index: 9;
} 

/* End video */

/* Start ABOUT US */
.about-us {
    height: 95vh;
    background-color: var(--min-color);
    position: relative;
}
.ssfh {
    margin-bottom: 100px;
}
.ssfh .h222 {
    font-size: 36px;
    padding-top: 66px;
}
.image-data-ab {
    display: flex;
    justify-content: center;
}
.imge-class {
    position: absolute;
    margin-top: 76px;
}
@media (max-width: 767px) {
    .imge-class {
        width: 500px;
        margin-top: 90px;
    }
}
@media (max-width: 567px) {
    .imge-class {
        width: 380px;
        margin-top: 120px;
    }
}
/* End ABOUT US */
/*  Start statistics */
.statistics {
    position: relative;
    background: rgba(0,0,0,0.7)url(../images/stats.png);
    background-size: cover;
    background-blend-mode: darken;

}
.info-statistics {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
}

@media (max-width: 991px) {
    .info-statistics {
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        padding: 100px 0;
    }
    
}
@media (max-width: 767px) {
    .info-statistics {
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        padding: 100px 0;
    }
}
.info-statistics .stat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--min-color);
    background-color: #0f748fb3;
    margin-top: 100px;
    margin-bottom: 100px ;
    text-align: center; 
}
@media (max-width: 991px) {
    .info-statistics .stat {
        margin-top: 0;
        margin-bottom: 0 ;
    }
}
.info-statistics .stat i {
    font-size: 25px;
    margin-top: 40px;
    z-index: 1;
    text-align: center;  
    position: relative;
    left: 10px;
}
.info-statistics .stat i::after {
    content: " ";
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: black;
    position: relative;
    left: -31px;
    top: 9px;
    z-index: -1;
}
.info-statistics .stat .number {
    font-weight: bold;
    font-size: 40px;
    padding: 35px 0 15px;
    text-align: center;    

}
.info-statistics .stat .data {
    font-size: 14px;
    padding-bottom: 25px;
    text-align: center; 
}
/*  End statistics */
/* Start Qualifications */
.qualifications {
    background-color: var(--min-color);
}
.qualifications .dev7az-quali {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 90px;
    padding-bottom: 90px;
    column-gap: 90px;
}
@media (max-width:991px){
    .qualifications .dev7az-quali {
        grid-template-columns: repeat(1,1fr);
        column-gap: 0;
        row-gap: 80px;
    }
}
/* Start colmn-one */
.qualifications .dev7az-quali .colmn-one .testimonials {
    text-align: center;
}
.qualifications .dev7az-quali .colmn-one .testimonials h3 {
    font-size: 20px;
    line-height: 1.7;
    font-weight: normal;
    margin-bottom: 30px;
}
.qualifications .dev7az-quali .colmn-one .testimonials p {
    color: var(--ppp-color);
    line-height: 1.8;
    margin-bottom: 60px;
}

.conta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.conta .conta-one {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 54px;
}
.conta-one img {
    width: 100px;
    border-radius: 50%;
}
.conta-one .infio {
    border-bottom: 1px solid var(--ppp-color);
}

.conta-one .infio p {
    line-height: 1.7;
}
.conta-one .infio .namee {
    text-align: right;
    color: var(--ppp-color);
    font-size: 15px;
}
/* ///////////////////// */
.conta .conta-two {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 54px;
}
.conta-two img {
    border-radius: 50%;
    width: 100px;
}
.conta-two .infio {
    border-bottom: 1px solid var(--ppp-color);
}

.conta-two .infio p {
    line-height: 1.7;
}
.conta-two .infio .namee {
    text-align: right;
    color: var(--ppp-color);
    font-size: 15px;
}

.colmn-one .xoxo {
    text-align: center;
    margin-top: 50px;
}
.colmn-one .xoxo span {
    
    width: 13px;
    height: 13px;
    border: 1.5px solid black;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 5px;
    display: inline-block;
}
.colmn-one .xoxo span:nth-child(2) {
    background-color: var(--sec-color);
}

/* End colmn-one */
/* Start colmn-two */
.qualifications .dev7az-quali .colmn-two .mharat {
    text-align: center;
}
.qualifications .dev7az-quali .colmn-two .mharat h3 {
    font-size: 20px;
    line-height: 1.7;
    font-weight: normal;
    margin-bottom: 30px;
}
.qualifications .dev7az-quali .colmn-two .mharat p {
    color: var(--ppp-color);
    line-height: 1.8;
    margin-bottom: 50px;
}

/* من هين شغل العدادات والنسب */
/*             adobe */
.all-mharat .adobe h3 {
    line-height: 1.7;
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 20px;
}
.all-mharat .adobe .counter {
    width: 100%;
    height: 30px;
    border: 1xpx solid black;
    background-color: var(--four-color);
}
.all-mharat .adobe .counter .indoor-counter {
    width: 90%;
    height: 100%;
    background-color: var(--sec-color);
    position: relative;
}
.all-mharat .adobe .counter .indoor-counter::before {
    content: " 90% ";
    text-align: center;
    color: white;
    position: absolute;
    width: 36px;
    height: 17px;
    padding: 4px;
    border-radius: 24%;
    right: -13px;
    top: -35px;
    background-color: black
}
.all-mharat .adobe .counter .indoor-counter::after {
    content: " ";
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: -5px;
    top: -14px;
}
/*             adobe */

/*             html-css */
.all-mharat .html-css h3 {
    line-height: 1.7;
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 20px;
}
.all-mharat .html-css .counter {
    width: 100%;
    height: 30px;
    border: 1xpx solid black;
    background-color: var(--four-color);
}
.all-mharat .html-css .counter .indoor-counter {
    width: 85%;
    height: 100%;
    background-color: var(--sec-color);
    position: relative;
}
.all-mharat .html-css .counter .indoor-counter::before {
    content: " 85% ";
    text-align: center;
    color: white;
    position: absolute;
    width: 36px;
    height: 17px;
    padding: 4px;
    border-radius: 24%;
    right: -13px;
    top: -35px;
    background-color: black
}
.all-mharat .html-css .counter .indoor-counter::after {
    content: " ";
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: -5px;
    top: -14px;
}
/*             html-css */

/*        java-script */
.all-mharat .java-script h3 {
    line-height: 1.7;
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 20px;
}
.all-mharat .java-script .counter {
    width: 100%;
    height: 30px;
    border: 1xpx solid black;
    background-color: var(--four-color);
}
.all-mharat .java-script .counter .indoor-counter {
    width: 80%;
    height: 100%;
    background-color: var(--sec-color);
    position: relative;
}
.all-mharat .java-script .counter .indoor-counter::before {
    content: " 80% ";
    text-align: center;
    color: white;
    position: absolute;
    width: 36px;
    height: 17px;
    padding: 4px;
    border-radius: 24%;
    right: -13px;
    top: -35px;
    background-color: black
}
.all-mharat .java-script .counter .indoor-counter::after {
    content: " ";
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: -5px;
    top: -14px;
}
/*        java-script */

/*              php-php */
.all-mharat .php-php h3 {
    line-height: 1.7;
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 20px;
}
.all-mharat .php-php .counter {
    width: 100%;
    height: 30px;
    border: 1xpx solid black;
    background-color: var(--four-color);
}
.all-mharat .php-php .counter .indoor-counter {
    width: 90%;
    height: 100%;
    background-color: var(--sec-color);
    position: relative;
}
.all-mharat .php-php .counter .indoor-counter::before {
    content: " 90% ";
    text-align: center;
    color: white;
    position: absolute;
    width: 36px;
    height: 17px;
    padding: 4px;
    border-radius: 24%;
    right: -13px;
    top: -35px;
    background-color: black
}
.all-mharat .php-php .counter .indoor-counter::after {
    content: " ";
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: -5px;
    top: -14px;
}
/*              php-php */
/* End colmn-two */
/* End Qualifications */
/* Start quote */
.quote {
    background: rgba(0,0,0,0.7)url(../images/quote.jpg);
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    text-align: center;
}

.quote .quote-text {

    padding: 100px 100px;
    color: var(--min-color);
}
@media (max-width: 991px) {
    .quote .quote-text {
        padding: 100px 40px;
    }
}
@media (max-width: 676px) {
    .quote .quote-text {
        padding: 100px 20px;
    }
}
.quote .quote-text strong {
    font-size: 30px;

}
.quote .quote-text p {
    margin-top: 20px;
}


/* End quote */
/* Start PRICING */
.pricing {
    background-color: var(--min-color);
    padding: 59px 0;
}

.pricing .h333 {
    font-size: 36px;
    padding-top: 66px;
}
.pricing .h333 + p {
    margin-bottom: 82px;
}
.pricing .pricing-7az {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1199px) {
    .pricing .pricing-7az {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
} 
@media (max-width: 991px) {
    .pricing .pricing-7az {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        justify-items: center;
    }
}
@media (max-width: 559px) {
    .pricing .pricing-7az {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        justify-items: center;
    }
}

.pricing-7az .package {
    width:260px ;
    background-color: #fcfcfc;
    padding: 30px;
    border-top: 1.5px solid var(--sec-color);
}
@media (max-width: 559px) {
    .pricing-7az .package {
        width:300px ;
    }
}
.pricing-7az .package .type-pack {
    font-size: 30px;
}
.pricing-7az .package .show-pricing {
    font-size: 55px;
    font-weight: bold;
    padding-top: 25px;
    position: relative;
    /* border-bottom: 1.5px solid var(--sec-color); */
    text-align: center;

}
.pricing-7az .package .show-pricing::before {
    content: " $ ";
    font-size: 21px;
    position: absolute;
    top: 20px;
    left: 30px;
}
.pricing-7az .package .show-pricing::after { 
    content: " ";
    display: block;
    height: 1px;
    width: 259px;
    background-color: var(--sec-color);
    transform: translate(-29px, 2px);
}
@media (max-width: 559px) {
    .pricing-7az .package .show-pricing::after {
        width: 298px;
    }
}



/* .pricing-7az .package .show-pricing::after { هاد كود سابق كنت عامل ال سلاش أم او فيه بس حطيت سمووا وزبطت الوطع
    content: " /Mo ";
    position: absolute;
    font-size: 18px;
    bottom: 0;
} */
.show-pricing small {
    font-size: 16px;
}
.pricing-7az .package hr {
    width: 258px;
    position: relative;
    left: -30px;
    border-color: var(--sec-color);
    border-width: 1px;
}
/*        feat1 */
.feat1 {
    font-size: 15px;
    padding-top: 22px;  
    text-align: center; 
}
.feat1::after {
    content: " ";
    position: relative;
    display: block;
    height: 1px;
    width: 125px;
    background-color: var(--sec-color);
    transform: translate(39px, 12px);
}
@media (max-width: 559px) {
    .feat1::after {
        transform: translate(57px, 12px);
    }
}
/*        feat1 */
/*        feat2 */
.feat2 {
    font-size: 15px;
    padding-top: 22px; 
    text-align: center;  
}
.feat2::after {
    content: " ";
    position: relative;
    display: block;
    height: 1px;
    width: 125px;
    background-color: var(--sec-color);
    transform: translate(39px, 12px);
}
@media (max-width: 559px) {
    .feat2::after {
        transform: translate(57px, 12px);
    }
}
/*        feat2 */
/*        feat3 */
.feat3 {
    font-size: 15px;
    padding-top: 22px;   
    text-align: center;
}
.feat3::after {
    content: " ";
    position: relative;
    display: block;
    height: 1px;
    width: 125px;
    background-color: var(--sec-color);
    transform: translate(39px, 12px);
}
@media (max-width: 559px) {
    .feat3::after {
        transform: translate(57px, 12px);
    }
}
/*        feat3 */
/*        feat4 */

.feat4 {
    font-size: 15px;
    padding-top: 22px;   
    text-align: center;
}
.feat4::after {
    content: " ";
    position: relative;
    display: block;
    height: 1px;
    width: 259px;;
    background-color: var(--sec-color);
    transform: translate(-29px, 12px);
}
@media (max-width: 559px) {
    .feat4::after {
        width: 298px;;
    }
}
/*        feat4 */
.btn-buy {
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-top: 57px;
    padding: 15px;
    border: 1px solid var(--sec-color);
    color: white;
    width: 100px;
    transform: translate(50px, -5px);
}

/*هاد القسم التالت من صفحة البرايسنق*/
.pricing .pric-contact-us {
    margin: 50px auto;
    position: relative;

}
.pricing .pric-contact-us .p-pric-contac {
    font-size: 21px;
    text-align: center;
    padding-left: 70px;
}
.pricing .pric-contact-us .cont-btn-buy {

    display: block;
    padding: 15px;
    border: 1px solid var(--sec-color);
    color: black;
    background-color: var(--sec-color);
    text-align: center;
    width: 120px;
    font-size: 17px;
    position: absolute;
    text-decoration: none;
    left: 50%;
    margin: 24px auto;

}
/* End PRICING */
/* Start Earth Email */
.earth-email {
    background: rgba(0, 0, 0, 0.486)url(../images/subscribe.jpg);
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 85px;
}
.email-conta {    
    display: flex;
    flex-wrap: nowrap;
    gap: 45px;
    margin: 10px auto;
}
@media (max-width: 991px ) {
    .email-conta {    
        flex-wrap: wrap;
    }
}
.tajmaaa1 {
    position: relative;
    display: flex;
}

@media (max-width: 991px ) {
    .tajmaaa1 {    
        justify-content: center;
        width: 100%;
    }
}
.email-in {
    width: 290px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border-color: var(--min-color);
    border-width: 1px;
    border-right-color: var(--sec-color);
}
@media (max-width: 991px ) {
    .email-in {
        width: 330px;
    }
}
/* 
بالنسب للأيقونة تبعت الإيميل رح إرجعلها في التحسينات  
.email-in::before {
    content: " ";
    background-image: url(../images/iconemail.png);
    background-size: cover;
} */
.email-btn {
    text-decoration: none;
    color: var(--min-color);
    padding: 10px;
    padding-top: 15px;
    background-color: var(--sec-color);
    display: block;
    height: 50px;

}
@media (max-width: 991px ) {
    .email-btn {
    text-align: center;
    padding: 15px 30px;
    }
}
.email-conta .em-text {
    color: var(--min-color);
    text-align: left;
    font-size: 17px;
    line-height: 1.6;
}
@media (max-width: 991px ) {
    .email-conta .em-text {
        text-align: center;
        padding: 0 30px;
    }
}
/* End Earth Email */

/* Start CONTACT US */
.contactuc {
    background-color: var(--min-color);
}
/* .contactuc .container {
    background-color: cadetblue;
} */
.contactuc .data-co {
    display: grid;
    grid-template-columns: 1fr 285px;
    column-gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px ;
}
@media (max-width: 767px) {
    .contactuc .data-co {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.contactuc .data-co .moos {
    display: none;
}
@media (max-width: 767px) {
    .contactuc .data-co .moos {
        display: block;
        text-align: center;
    }
}
.tools-contact .name-co {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 30px;
}
.tools-contact .email-co {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 30px;
}
.tools-contact .area-co {
    display: block;
    width: 100%;
    padding: 15px;
}
.text-co {
    text-align: left;
}
@media (max-width: 767px) {
    .text-co {
        display: none;
    }
}
.text-co h3 {
    font-weight: normal;
    padding-bottom: 15px;
}
.text-co p {
    color: var(--ppp-color);
    padding-bottom: 5px;
}
.text-co .p22 {
    padding-bottom: 85px;
}
.text-co .p33 {
    font-style: italic;
    padding-bottom: 15px
}
.text-co .p44 {
    padding-bottom: 30px
    
}
.llleft {
    display: flex;
    justify-content: flex-end;
}
.message-btn {
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-top: 30px;
    padding: 19px;
    text-align: center;
    color: white;
    width: 156px;
    background-color: var(--sec-colorr);

}
/* End CONTACT US */
/* Start Foooter */
footer {
    background: rgba(0, 0, 0, 0.7)url(../images/subscribe.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
footer .all-of {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    color: var(--min-color);
}
footer .all-of h3 {
    font-size: 20px;
    padding: 40px 12px 20px;
    border-bottom: 1px solid white;
}
footer .all-of .all-icon {
    padding: 15px ;
}
footer .all-of .all-icon i{
    padding:20px 10px ;

}
footer .all-of  p {
    padding-top: 20px ;

}
footer .all-of  span {
    color: var(--sec-color);
}
/* End Foooter */